@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
  --red: #ffffff;
  --black:#000000;
  --light-color:#181818;
  --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

body{
  background-color:var(--light-color);
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top:5.5rem;
}

section{
  padding: 2rem 9%;
}

section:nth-child(even){
  background:var(--light-color);
}

header{
  top: 0;
  left:0;
  right:0;
  padding: 1rem 7%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  }

.heading{
  text-align: center;
  color: var(--red);
  margin-bottom: 3rem;
  font-size:4rem;
}

.btn{
  margin-top:1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #000000;
  background: var(--red);
  border-radius: .5rem;
  cursor: pointer;
  padding: .8rem 3rem;
}

.btn:hover{
  background: var(--black);
  color: var(--red);
  letter-spacing: .1rem;
}

header .logo{
  color: #fff;;
  font-size: 4rem;
  font-weight: bolder;
}

header .logo span{
  color: var(--red);
}

header .navbar a{
  font-size: 3rem;
  padding: 5rem 1.5rem;
  color: #fff;
  font-weight: bold;
  justify-content: flex-end;

}

.home{
  padding:0;
  min-height: 20%;
  margin-top: 0rem;
}

.home .box{
  min-height: 100vh;
  display:-webkit-box;
  display:-ms-flexbox;
  display: flex;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  justify-content:flex-end;
  padding:2rem 9%;
}

.home .box{
  justify-content: flex-start;
}

.home .box .content{
  width: 50rem;
}

.home .box .content h3{
  font-size: 6rem;
  color: #000000;/* zmeniš všetkym h3 v slideroch farbu */
  padding-top: .5rem;
  text-transform: uppercase;
}

.home .box .content p{
  line-height: 1.5; /* tu si zvačš medzeri medzi textom */
  color: #000000;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 0;
}

.about {
  padding: 10rem 2rem; /* Increase the padding */
  min-height: 103vh; /* Set a minimum height */
  background-color: #090808;
  color: #ffffff;
  text-align: left;
  font-size: 30px;
}
.about h2 {
  color: #ffffff; /* Replace #yourColor with the color you want */
  font-size: 50px;
}
.footer-content {
  text-align: center;
  padding: 2rem 2rem;
  background-color: #000000;
  color: #ffffff;
}

.footer-content h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.footer-content p {
  font-size: 2rem;
}
.footer-content .socials i {
  font-size: 4rem;
  color: #ffffff;
}


.footer-bottom {
  text-align: center;
  padding: 1rem 0;
  background-color: #000000;
  color: #fff;
  font-size: 1.2rem;
}



